

h2 {
  margin-top: 0px !important;
  color: #444;
}

body {
  background-image: url('../images/garden.png');
  background-size: 100% auto;
  background-color: none;

  .row.first {
    height: 75px;
  }

  .main {
    text-align: center;
  }
}